
/* a change to buttons.scss*/
a.bigbutton:link, a.bigbutton:visited {
      border: 2px solid #FFFFFF;
      border-radius: 30px;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
      color: #FFFFFF;
      display: block;
      font: bold 1.1em Arial,Sans-serif;
    margin: 5px 10px;
      padding: 10px;
      text-align: center;
      transition: all 0.2s linear 0s;
      background-color: $yellow;
      background-image: -moz-linear-gradient(center top , $neutral, $neutral_tint_1);
}

#main-content .node a.bigbutton {
border-bottom-color:none;
}
a.bigbutton.neutral:link, a.bigbutton.neutral:visited{
background-color: $neutral;
background-image: -moz-linear-gradient(center top , $neutral, $neutral_tint_1);
border: 2px solid #FFFFFF;
color: #FFFFFF;}

a.bigbutton.neutral-tint-1:link, a.bigbutton.neutral-tint-1:visited {
background-color: $neutral_tint_1;
background-image: -moz-linear-gradient(center top , $neutral_tint_1, $neutral_tint_2);
border: 2px solid #FFFFFF;
color: #FFFFFF;}

a.bigbutton.neutral-tint-2:link, a.bigbutton.neutral-tint-2:visited {
background-color: $neutral_tint_2;
background-image: -moz-linear-gradient(center top , $neutral_tint_2, $neutral_tint_3);
border: 2px solid #FFFFFF;
color: #FFFFFF;}

a.bigbutton.neutraltint-3:link, a.bigbutton.neutraltint-3:visited {
background-color: $neutral_tint_3;
background-image: -moz-linear-gradient(center top , $neutral_tint_3, $neutral_tint_4);
border: 2px solid #FFFFFF;
color: #FFFFFF;}

a.bigbutton.turquoise:link, a.bigbutton.turquoise:visited {
background-color: $turquoise;
background-image: -moz-linear-gradient(center top , $turquoise, $turquoise_tint_1);
border: 2px solid #FFFFFF;
color: #FFFFFF;}

a.bigbutton.turquoise-tint-1:link, a.bigbutton.turquoise-tint-1:visited {
background-color: $turquoise_tint_1;
background-image: -moz-linear-gradient(center top , $turquoise_tint_1, $turquoise_tint_2);
border: 2px solid #FFFFFF;
color: #FFFFFF;}

a.bigbutton.turquoise-tint-2:link, a.bigbutton.turquoise-tint-2:visited {
background-color: $turquoise_tint_2;
background-image: -moz-linear-gradient(center top , $turquoise_tint_2, $turquoise_tint_3);
border: 2px solid #FFFFFF;
color: #FFFFFF;}

a.bigbutton.turquoise-tint-3:link, a.bigbutton.turquoise-tint-3:visited {
background-color: $turquoise_tint_3;
background-image: -moz-linear-gradient(center top , $turquoise_tint_3, $turquoise_tint_4);
border: 2px solid #FFFFFF;
color: #FFFFFF;}

a.bigbutton.green:link, a.bigbutton.green:visited {
background-color: $green;
background-image: -moz-linear-gradient(center top , $green, $green_tint_1);
border: 2px solid #FFFFFF;
color: #FFFFFF;}

a.bigbutton.green-tint-1:link, a.bigbutton.green-tint-1:visited {
background-color: $green_tint_1;
background-image: -moz-linear-gradient(center top , $green_tint_1, $green_tint_2);
border: 2px solid #FFFFFF;
color: #FFFFFF;}

a.bigbutton.green-tint-2:link, a.bigbutton.green-tint-2:visited {
background-color: $green_tint_2;
background-image: -moz-linear-gradient(center top , $green_tint_2, $green_tint_3);
border: 2px solid #FFFFFF;
color: #FFFFFF;}

a.bigbutton.green-tint-3:link, a.bigbutton.green-tint-3:visited {
background-color: $green_tint_3;
background-image: -moz-linear-gradient(center top , $green_tint_3, $green_tint_4);
border: 2px solid #FFFFFF;
color: #FFFFFF;}

a.bigbutton.red:link, a.bigbutton.red:visited {
background-color: $red;
background-image: -moz-linear-gradient(center top , $red, $red_tint_1);
border: 2px solid #FFFFFF;
color: #FFFFFF;}


a.bigbutton:hover {
    background-color: $yellow;
    background-image: -moz-linear-gradient(center top , $yellow, $yellow_tint_1);
    color: black;
}

