a.bigbutton:link, a.bigbutton:visited {
	    border: 2px solid #FFFFFF;
	    border-radius: 30px;
	    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
	    color: #FFFFFF;
	    display: block;
	    font: bold 1.1em Arial,Sans-serif;
		margin: 5px 10px;
	    padding: 10px;
	    text-align: center;
	    transition: all 0.2s linear 0s;
	    background-color: $yellow;
	    background-image: -moz-linear-gradient(center top , $neutral, $neutral_tint_1);
}


a.bigbutton.neutral {
background-color: $neutral;
background-image: -moz-linear-gradient(center top , $neutral, $neutral_tint_1);}

a.bigbutton.neutral-tint-1 {
background-color: $neutral_tint_1;
background-image: -moz-linear-gradient(center top , $neutral_tint_1, $neutral_tint_2);}

a.bigbutton.neutral-tint-2 {
background-color: $neutral_tint_2;
background-image: -moz-linear-gradient(center top , $neutral_tint_2, $neutral_tint_3);}

a.bigbutton.neutraltint-3 {
background-color: $neutral_tint_3;
background-image: -moz-linear-gradient(center top , $neutral_tint_3, $neutral_tint_4);}

a.bigbutton.turquoise {
background-color: $turquoise;
background-image: -moz-linear-gradient(center top , $turquoise, $turquoise_tint_1);}

a.bigbutton.turquoise-tint-1 {
background-color: $turquoise_tint_1;
background-image: -moz-linear-gradient(center top , $turquoise_tint_1, $turquoise_tint_2);}

a.bigbutton.turquoise-tint-2 {
background-color: $turquoise_tint_2;
background-image: -moz-linear-gradient(center top , $turquoise_tint_2, $turquoise_tint_3);}

a.bigbutton.turquoise-tint-3 {
background-color: $turquoise_tint_3;
background-image: -moz-linear-gradient(center top , $turquoise_tint_3, $turquoise_tint_4);}

a.bigbutton.green {
background-color: $green;
background-image: -moz-linear-gradient(center top , $green, $green_tint_1);}

a.bigbutton.green-tint-1 {
background-color: $green_tint_1;
background-image: -moz-linear-gradient(center top , $green_tint_1, $green_tint_2);}

a.bigbutton.green-tint-2 {
background-color: $green_tint_2;
background-image: -moz-linear-gradient(center top , $green_tint_2, $green_tint_3);}

a.bigbutton.green-tint-3 {
background-color: $green_tint_3;
background-image: -moz-linear-gradient(center top , $green_tint_3, $green_tint_4);}

a.bigbutton.red {
background-color: $red;
background-image: -moz-linear-gradient(center top , $red, $red_tint_1);}


a.bigbutton:hover {
    background-color: $yellow;
    background-image: -moz-linear-gradient(center top , $yellow, $yellow_tint_1);
    color: black;
}

