$green_shade_3: #595C54;
$green_shade_2: #7E876C;
$green_shade_1: #93A46C;
$green: #98B757;
$green_tint_1: #AFC47A;
$green_tint_2: #C4D39D;
$green_tint_3: #D8E2BF;
$green_tint_4: #ECF0E0;
$turquoise_shade_3: #4E5455;
$turquoise_shade_2: #60757A;
$turquoise_shade_1: #54868E;
$turquoise: #008B98;
$turquoise_tint_1: #5A9FAB;
$turquoise_tint_2: #8BB5BF;
$turquoise_tint_3: #B5CDD4;
$turquoise_tint_3_5:#C4D7DD;
$turquoise_tint_4: #DBE6E9;
$yellow_shade_3: #625F55;
$yellow_shade_2: #9A9273;
$yellow_shade_1: #CEBA76;
$yellow: #FFDD60;
$yellow_tint_1: #FFE386;
$yellow_tint_2: #FFEAA8;
$yellow_tint_3: #FFF1C7;
$yellow_tint_4: #FFF8E4;
$red_shade_3: #5E504A;
$red_shade_2: #8D5F53;
$red_shade_1: #B25142;
$red: #D0232A;
$red_tint_1: #D95648;
$red_tint_2: #E38471;
$red_tint_3: #EDAF9E;
$red_tint_4: #F6D8CE;
$dark_shade_3: #464A4D;
$dark_shade_2: #4F575D;
$dark_shade_1: #436679;
$dark: #00617D;
$dark_tint_1: #497993;
$dark_tint_2: #7A96AB;
$dark_tint_3: #A6B6C6;
$dark_tint_4: #D2D9E2;
$neutral_shade_3: #51504F;
$neutral_shade_2: #797975;
$neutral_shade_1: #B8B7AC;
$neutral: #D2CDB5;
$neutral_tint_1: #DAD6C3;
$neutral_tint_2: #E8E6DB;
$neutral_tint_3: #F0EEE7;
$neutral_tint_4: #F7F6F3;

.panel-pane.turquoise{
background:$turquoise;
}
.panel-pane.turquoise-tint-1{
background:$turquoise_tint_1;
}
.panel-pane.turquoise-tint-2{
background:$turquoise_tint_2;
}
.panel-pane.turquoise-tint-3{
background:$turquoise_tint_3;
}
.panel-pane.turquoise-tint-4{
background:$turquoise_tint_4;
}
.panel-pane.yellow{
background:$yellow;
}
.panel-pane.yellow-tint-1{
background:$yellow_tint_1;
}
.panel-pane.yellow-tint-2{
background:$yellow_tint_2;
}
.panel-pane.yellow-tint-3{
background:$yellow_tint_3;
}
.panel-pane.yellow-tint-4{
background:$yellow_tint_4;
}
.panel-pane.neutral{
background:$neutral;
}
.panel-pane.neutral-tint-1{
background:$neutral_tint_1;
}
.panel-pane.neutral-tint-2{
background:$neutral_tint_2;
}
.panel-pane.neutral-tint-3{
background:$neutral_tint_3;
}
.panel-pane.neutral-tint-4{
background:$neutral_tint_4;
}
.panel-pane.green{
background:$green;
}
.panel-pane.green-tint-1{
background:$green_tint_1;
}
.panel-pane.green-tint-2{
background:$green_tint_2;
}
.panel-pane.green-tint-3{
background:$green_tint_3;
}
.panel-pane.green-tint-4{
background:$green_tint_4;
}
.front{
.panel-pane.turquoise{
background:$turquoise;
}
.panel-pane.turquoise-tint-1{
background:$turquoise_tint_1;
}
.panel-pane.turquoise-tint-2{
background:$turquoise_tint_2;
}
.panel-pane.turquoise-tint-3{
background:$turquoise_tint_3;
}
.panel-pane.turquoise-tint-4{
background:$turquoise_tint_4;
}
.panel-pane.yellow{
background:$yellow;
}
.panel-pane.yellow-tint-1{
background:$yellow_tint_1;
}
.panel-pane.yellow-tint-2{
background:$yellow_tint_2;
}
.panel-pane.yellow-tint-3{
background:$yellow_tint_3;
}
.panel-pane.yellow-tint-4{
background:$yellow_tint_4;
}
.panel-pane.neutral{
background:$neutral;
}
.panel-pane.neutral-tint-1{
background:$neutral_tint_1;
}
.panel-pane.neutral-tint-2{
background:$neutral_tint_2;
}
.panel-pane.neutral-tint-3{
background:$neutral_tint_3;
}
.panel-pane.neutral-tint-4{
background:$neutral_tint_4;
}
.panel-pane.green{
background:$green;
}
.panel-pane.green-tint-1{
background:$green_tint_1;
}
.panel-pane.green-tint-2{
background:$green_tint_2;
}
.panel-pane.green-tint-3{
background:$green_tint_3;
}
.panel-pane.green-tint-4{
background:$green_tint_4;
}}

#sidebar-right {
	.block.yellow {
	    background: $yellow $containtertexture;
	}
	.block.yellow-tint-1 {
	    background: $yellow_tint_1 $containtertexture;
	}
	.block.yellow-tint-2 {
	    background: $yellow_tint_2 $containtertexture;
	}
	.block.yellow-tint-3 {
	    background: $yellow_tint_3 $containtertexture;
	}
	.block.yellow-tint-4 {
	    background: $yellow_tint_4 $containtertexture;
	}
	.block.green{
		background:$green $containtertexture;
	}
	.block.green-tint-1{
	background:$green_tint_1 $containtertexture;
	}
	.block.green-tint-2{
	background:$green_tint_2 $containtertexture;
	}
	.block.green-tint-3{
	background:$green_tint_3 $containtertexture;
	}
	.block.green-tint-4{
	background:$green_tint_4 $containtertexture;
	}
	.block.turquoise {
	    background: $turquoise $containtertexture;
	}
}