/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "colours";

@mixin hidden 
{position:absolute;
left:-10000px;
top:auto;
width:1px;
height:1px;
overflow:hidden;}


/* V0*/

$bodytexture: url(images/noisy-texture-big-200x200.png);
$containtertexture: url(images/noisy-texture-200x200.png);
$corner: 2px;
$boxpad: 10px;



/*bens first scss*/

/*reduce header height*/
#nav{
width:700px;
margin:0;
clear: none;
}
#header{height: 65px;}


body.front, body.not-front{
background: $turquoise_tint_3_5 $bodytexture;
background-attachment:fixed;}
#body-container{
background: $neutral_tint_1 $containtertexture;
}
/*body.front, body.not-front{
background: $turquoise_tint_4 $bodytexture;
background-attachment:fixed;}
#body-container{
background: $neutral_tint_1 $containtertexture;
}*/

#body-container{
box-shadow: 0 0 20px 0 #666	;
width:960px;
margin:0 auto;
}


#page-container, #page,
#footer-container, #footer {
background:transparent;
}

img[align="left"] {
    margin: 0 20px 10px 0;
    padding: 1px;
}
img[align="right"] {
    margin: 0 0 10px 20px;
    padding: 1px;
}

h1#page-title, h2#page-title, .sidebar .block h2, .sidebar .block h3, .panel-pane h2.title, #footer h2, #main h2.pane-title {
    font-family: 'ArvoRegular',georgia,times,"Times New Roman",serif;
}

/*panels*/


@import "compass/css3/box-shadow";
@import "compass/css3/transform";

@mixin corner-lift( $color: rgba(0, 0, 0, 0.2), $angle: 3deg, $bottom-offset: 10px ) {
    $height: 40px; // Default max height shadow can be
    position: relative;
    &:before,
    &:after {
        bottom: 22px - $bottom-offset;
        content: '\0020';
        height: $height;
        max-width: 50%;
        position: absolute;
        width: 50%;
        z-index: -1;
        @include box-shadow( 0 15px 5px $color );
    }
    &:before {
        @include transform( skew( -4deg, -$angle ) );
        left: 8px;
    }
    &:after {
        @include transform( skew( 4deg, $angle ) );
        right: 8px;
    }
}
.front #main h2.pane-title {
    border-bottom: none;
	margin:3px;
	padding:0;
	font-family: 'ArvoRegular',georgia,times,"Times New Roman",serif;
	}
.panel-pane p{
margin:1em;
padding:0;
}
.panel-pane .view-featured-content {
background-color:white;
border-radius:$corner;
}
.front .panel-pane .panel-pane-inner .pane-content{
display: inline-block;
    margin: 0;
    padding: 0;
    width: 100%;
}
.panel-pane{
border-radius: $corner;
}
.front .panel-pane{
@include corner-lift;
background:$neutral_tint_4;
margin-top:1em;
}
.panel-panel .inside,
panels-flexible-row, .inside{
position:relative;
z-index:1;
}
.panel-panel{
margin-top:0;
display:block;
}
.panel-display .center-wrapper{
clear:both;
}
.pane-slideshows-panel-pane-1{
width:700px;
}
.panel-panel.panel-col-middle{
margin-top:$boxpad;
position:relative;
top:$boxpad;
}
	
.front .panel-pane-inner{
margin:0;
padding: $boxpad;
}
.panel-pane .pane-content{
background: white;
border-radius: $corner;
height:100%;
margin: $boxpad;
}
.hp-block {
    min-height: 0px;
}
.panel-col-last .panel-pane{
margin-right:$boxpad;
}
.center-wrapper .panel-col-last .panel-pane{
margin-right:0;
}
#main .pane-content h3{
margin:0;
padding:0 5px 0 2px;
}
/*footer*/
#footer-inline-region .block{
@include corner-lift;
background:$neutral_tint_2 $containtertexture;
border-radius: $corner;
}
#footer-inline-region{
position:relative;
z-index:1;
padding:0 $boxpad;
margin:1em 0;
border:none;
}
#footer-banner-region{
position:relative;
z-index:1;margin: 0 10px 25px;
    padding: 0;}
#footer-banner-region .block{
@include corner-lift;
background-color:white;
border-radius: $corner;}
#footer-inline-region .block-inner{
margin-top:0px;
}
#footer {
padding:0;
margin:0;
}
#footer-message{
border-radius:$corner $corner 0 0;
}
#footer-inline-region .block-inner { min-height:none; }
.newsletter a.button {
    background-color: #9CCF55;
    background-image: -moz-linear-gradient(center top , #B2D77D, #9CCF55);}
#footer-inline-region{
position:relative;
z-index:1;
}
#footer-inline-region .block-inner .content {
padding:1px;
    border-radius: $corner;}

/*join button*/
@mixin gradientbutton($from, $to) {
background:repeat scroll 0 0 transparent;
/* fallback/image non-cover color */
background-color: $from;
 
/* Firefox 3.6+ */
background-image: -moz-linear-gradient($from, $to);
 
/* Safari 4+, Chrome 1+ */
background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from($from), to($to));
 
/* Safari 5.1+, Chrome 10+ */
background-image: -webkit-linear-gradient($from, $to);
 
/* Opera 11.10+ */
background-image: -o-linear-gradient($from, $to);
box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
border-radius:0 0  $corner  $corner;
}

#block-block-50 .top-links-ul li {
@include gradientbutton($green_tint_2, $green);
}

#block-block-50 .top-links-ul li.first{
@include gradientbutton($red_tint_2, $red);
}
#block-block-50 .top-links-ul li.last{
@include gradientbutton($turquoise_tint_2, $turquoise);
}
.top-links-ul li:after{
content:none;
}
.top-links-ul li {
    padding: 0 0.5em;
margin-right:5px;
}
#top-links .block {
    margin-top: 0;}
#top-links .intro-links-ul{
margin-top:7px;
}
#top-links .top-links-ul li {
padding-top:6px;
font-size:14px;
padding-bottom:3px;
position:relative;
top:-2px;
}
.top-links-ul li a, .top-links-ul li a:visited {
text-shadow:none;}

/*slideshow*/
#main-content .slideshow{
margin-left: 0px;
}

#main-content .slideshow img{
border-radius: $corner;
}
.pane-slideshows-panel-pane-1{
background:none;
box-shadow:none;
margin:0;
}
.pane-slideshows-panel-pane-1 .panel-pane-inner{
margin:0;
padding:0;
}
.panel-pane.pane-slideshows-panel-pane-1 .pane-content{
padding:0;
margin:0;
}
.pane-slideshows-panel-pane-1 .clear{
display:none;
}
.slideshow .desc {background:$yellow $containtertexture;}
#main .slideshow h1.welcome {
@include gradientbutton($green_tint_2, $green);
border-radius: 0 0 $corner 0;
color:white;
}
.slideshow .views-field-field-slide-destination-link-url {
@include gradientbutton($green_tint_2, $green);
border-radius: $corner 0 0 $corner;
color:black;
box-shadow:none;
padding: 7px 5px 7px 10px;
margin-bottom:5px;
position: absolute;
right: 0;
text-align: left;
top: 84%;
width: 45%;
z-index: 2;}
.slideshow a.learn:link,
.slideshow a.learn:visited{
border-radius: 0 0 0 0;
background: none;
    border:none;
	border-bottom: 1px dotted black;
    box-shadow: none;
    font-size: 14px;
padding:0;
	position: relative;
	right: 0;
	text-align: left;
	top: 0;
	width: auto;
	z-index: 2;
	display:inline-block;
	color:black;
}
	.slideshow a.learn:hover{
border-bottom: 1px solid white;
color:white;}
/*Ingredient of the day*/
.view-display-id-panel_pane_2 .views-field-field-image-fid {
    float: right;
    margin: 11px 0 11px 10px;
    width: 200px;
}
.view-display-id-panel_pane_2 .views-field-phpcode-1{
padding:5px 0 0 5px;
display: inline-block;
}
.view-display-id-panel_pane_2 .views-field-field-stage-nid{
margin:0;
display: inline-block;
}
.view-display-id-panel_pane_2 .views-field-phpcode{
padding-bottom:5px;
}
.views-field-phpcode-1 h3 {
border-right: 2px solid $green;
    margin-right: 5px;
    padding: 0 10px 0 5px;
}
#main .panel-pane.carrot{
background: $green_tint_2 url(images/ingredient_carrot.png) no-repeat;
background-position:right bottom;
background-repeat:none;
box-shadow:none;
border-radius:$corner;
margin:0;
padding:0 0 40px 0;
}

#main .panel-pane.carrot .field-content a.imagecache.imagecache-thumb-medium.imagecache-linked.imagecache-thumb-medium_linked img.imagecache.imagecache-thumb-medium {
    margin-left: 0;
}


/*sidebars*/
/*sidebar right blocks*/
#sidebar-right .block{
@include corner-lift;
border-radius: $corner;
}
#sidebar-right{
position:relative;
z-index:1;
}
.greystripe_bg, .greenstripe_bg, .sidebar .block, .new-bricks .address-contact {
background:$neutral_tint_2 $containtertexture;
@include corner-lift;
border-radius: $corner;
padding: 0;
}

#footer-inline-region .block-inner{
background:none;
box-shadow:none;
}
.sidebar .block .content, .panel_show_bg .pane-content, .view_show_bg .view .view-content {
    background: white;
    border-radius: $corner;
    padding: 5px;
}
.sidebar ul.menu li a:link, .sidebar ul.menu li a:visited{
    background:$neutral_tint_3 $containtertexture;
    border-radius: $corner;}
.sidebar ul.menu li a:hover, .sidebar ul.menu li a:focus, .sidebar ul.menu li a:active {
background:$yellow $containtertexture;
}

/*main pages*/
.not-front #page{
position:relative;
z-index:1;}
.not-front #main{
@include corner-lift;
background-color:white;
border-radius: $corner;
padding:0;}
.not-front.node-type-panel #page{
position:static;
}
.not-front.node-type-panel #main{
background-color:transparent;
border-radius: $corner;
padding:0;}
.breadcrumb {
    border-bottom: none;}
#main h1 {
	    padding:0 5px;}
#sidebar-right, #sidebar-left {
   padding-top: 0;
}
#sidebar-right .block-1{
margin-top:0;
}
div.help {
    margin: 1em;}
#main ul, #main ol {
    margin: 10px 20px;
    padding: 0 20px;
	}
#main-content .content {
    border-bottom: none}

/*images and captions*/
#main-content .content img {
    background: none repeat scroll 0 0 $neutral_tint_3;
    border: 1px solid $neutral;
    padding: 5px;
}
#main-content .content img.caption {
    background: none repeat scroll 0 0 $neutral_tint_3;
    border-left: 1px solid $neutral;
    border-right: 1px solid $neutral;
    border-top: 1px solid $neutral;
	border-bottom:none;
    padding: 5px 5px 0 5px;
}
.image-caption{
background-color:$neutral_tint_3;
color:black;
display:block;
margin:0;
padding: 0 5px 5px 5px;
border-left: 1px solid $neutral;
border-right: 1px solid $neutral;
border-bottom: 1px solid $neutral;
border-top:none;
position: relative;
top: -6px;
width: 100%;
text-align: center;
}
/*featured image*/
.field-field-featured-image{
float:right;
margin:0 1em 1em 0;
}
/*nav*/
.sf-menu li li a, .sf-menu li li a {
    background: $green_tint_2;}
.sf-menu li a:hover, .sf-menu li:hover, .sf-menu li.sfHover, .sf-menu li a:focus, .sf-menu li a.active {
    background: $green_tint_2;
	border-top-left-radius: $corner;
	border-top-right-radius: $corner;
	}
#headwrap {border-bottom:5px solid $green_tint_2;}
.sf-menu li a.menu-1338 {
	background: url("/sites/all/themes/transition2/images/home.png") no-repeat scroll center center $green_tint_2;
    display: block;
    text-indent: -9000px;
    width: 22px;}


	
/*why what how where*/
#sidebar-right {
margin-top:0px;
}
#sidebar-right #block-block-59 {
box-shadow:none;
background:transparent;
transform:none;
padding:0 !important;
margin:10px 0 22px 0;
}

@mixin intro_item{
display: block;
height: 50px;
width: auto;
background:url(images/wwhw_sprites.png) no-repeat;
transition: all 0s linear 0s;
-webkit-transition: all 0s linear 0s;
}
#intronav .last{
height: 59px;
}
#block-block-59 h2{ @include hidden}
#block-block-59 .intro_item span{ @include hidden}

#block-block-59 #intronav{
	background:url(images/confused.png) no-repeat top left;
	border:none;
	margin:0;
	padding-top:105px;
	
	.why{
		a:link{
			@include intro_item;
			background-position:0 0;
			}
		a:hover{
			background-position:0 0px;
			}
		}
	.what {
		a:link{
			@include intro_item;
			background-position:0 -50px;
			}
			a:hover{
			background-position:0 -50px;
			}
		}
	.how {
		a:link{
		@include intro_item;
		background-position:0 -100px;
		}
		a:hover{
		background-position:0 -560px;
		}
		ul li {
			a:link{
			height: 25px;
			background-position:0 -150px;
			}
			a:hover{
			background-position:0 -610px;
			}
			a span{
			color: $turquoise;
    		font-weight: normal;
    		padding-left: 8px;
    		padding-top: 0;
    		position: relative;
    		top: 1px;
			}
		}
	}
	.where {
		a:link{
		@include intro_item;
		background-position:0 -279px;
		}
		a:hover{
		background-position:0 -739px;
		}
		a.last{
		height: 60px;
		}
	}
	ul{
	border: none;
	
		ul{
		background:none;
		padding-top:0;
		border: none;
		
		}
		
	}
	li {
	border: none;
	list-style: none outside none;
	margin: 0;
	padding: 0;
	}
}
	

#sidebar-right #block-block-59:before,
#sidebar-right #block-block-59:after{
box-shadow:none;
transform:none;
left:0px;}
#sidebar-right #block-block-59 .content{
box-shadow:none;
background:transparent;
transform:none;
}

/*add monsters*/



#footer-message { 
    background: url(images/peeking.png) no-repeat 400px -68px #868680;}


@import "buttons";
/*@import "v1";*/
/*@import "v2";*/

/*profiles*/
.view-people-maps .view-content {
    margin: 0;
    padding: 0;
}
.panels-flexible-region-inside-last {
    padding-right: $boxpad;
}