#skip-nav a, #skip-nav a:hover, #skip-nav a:visited {
    height: auto;
    left: inherit;
    overflow: auto;
    position: inherit;
    top: -auto;
    width: auto;
}
#skip-nav a:active, #skip-nav a:focus {
    height: auto;
    position: inherit;
    width: auto;
}
#skip-nav
{
position:absolute;
font-size:0.8em;
ul { list-style-type: none; 
	li {
    	float: left;
    	padding-right: 0.5em;
		a {color:black;border-bottom:none;}
		a:hover{border-bottom:1px dotted #E5E9E4;}
		a:focus, a:active {
		  position : absolute;
		  top : 8990px; /* Fiddle and fudge as needed */
		  left : 8960px; /* Fiddle and fudge as needed */
		  display : block;
		  padding : 190px 40px 190px 48px; /* Fiddle and fudge as needed */
		  width : 17em; /* Fiddle and fudge as needed */
		  z-index : 9;
		  font-size : 4em;
		  font-weight : bold;
		  border : 2px outset #000;
		  background-color : yellow;}
		}
 

.offset {
position : absolute;
top : -9000px;
left : -9000px;}
}