@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ben\/Sites\/tndev\/sites\/all\/themes\/transition2\/sass\/colours\.scss}line{font-family:\0000351}}
.panel-pane.turquoise {
  background: #008b98;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ben\/Sites\/tndev\/sites\/all\/themes\/transition2\/sass\/colours\.scss}line{font-family:\0000354}}
.panel-pane.turquoise-tint-1 {
  background: #5a9fab;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ben\/Sites\/tndev\/sites\/all\/themes\/transition2\/sass\/colours\.scss}line{font-family:\0000357}}
.panel-pane.turquoise-tint-2 {
  background: #8bb5bf;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ben\/Sites\/tndev\/sites\/all\/themes\/transition2\/sass\/colours\.scss}line{font-family:\0000360}}
.panel-pane.turquoise-tint-3 {
  background: #b5cdd4;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ben\/Sites\/tndev\/sites\/all\/themes\/transition2\/sass\/colours\.scss}line{font-family:\0000363}}
.panel-pane.turquoise-tint-4 {
  background: #dbe6e9;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ben\/Sites\/tndev\/sites\/all\/themes\/transition2\/sass\/colours\.scss}line{font-family:\0000366}}
.panel-pane.yellow {
  background: #ffdd60;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ben\/Sites\/tndev\/sites\/all\/themes\/transition2\/sass\/colours\.scss}line{font-family:\0000369}}
.panel-pane.yellow-tint-1 {
  background: #ffe386;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ben\/Sites\/tndev\/sites\/all\/themes\/transition2\/sass\/colours\.scss}line{font-family:\0000372}}
.panel-pane.yellow-tint-2 {
  background: #ffeaa8;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ben\/Sites\/tndev\/sites\/all\/themes\/transition2\/sass\/colours\.scss}line{font-family:\0000375}}
.panel-pane.yellow-tint-3 {
  background: #fff1c7;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ben\/Sites\/tndev\/sites\/all\/themes\/transition2\/sass\/colours\.scss}line{font-family:\0000378}}
.panel-pane.yellow-tint-4 {
  background: #fff8e4;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ben\/Sites\/tndev\/sites\/all\/themes\/transition2\/sass\/colours\.scss}line{font-family:\0000381}}
.panel-pane.neutral {
  background: #d2cdb5;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ben\/Sites\/tndev\/sites\/all\/themes\/transition2\/sass\/colours\.scss}line{font-family:\0000384}}
.panel-pane.neutral-tint-1 {
  background: #dad6c3;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ben\/Sites\/tndev\/sites\/all\/themes\/transition2\/sass\/colours\.scss}line{font-family:\0000387}}
.panel-pane.neutral-tint-2 {
  background: #e8e6db;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ben\/Sites\/tndev\/sites\/all\/themes\/transition2\/sass\/colours\.scss}line{font-family:\0000390}}
.panel-pane.neutral-tint-3 {
  background: #f0eee7;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ben\/Sites\/tndev\/sites\/all\/themes\/transition2\/sass\/colours\.scss}line{font-family:\0000393}}
.panel-pane.neutral-tint-4 {
  background: #f7f6f3;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ben\/Sites\/tndev\/sites\/all\/themes\/transition2\/sass\/colours\.scss}line{font-family:\0000396}}
.panel-pane.green {
  background: #98b757;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ben\/Sites\/tndev\/sites\/all\/themes\/transition2\/sass\/colours\.scss}line{font-family:\0000399}}
.panel-pane.green-tint-1 {
  background: #afc47a;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ben\/Sites\/tndev\/sites\/all\/themes\/transition2\/sass\/colours\.scss}line{font-family:\00003102}}
.panel-pane.green-tint-2 {
  background: #c4d39d;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ben\/Sites\/tndev\/sites\/all\/themes\/transition2\/sass\/colours\.scss}line{font-family:\00003105}}
.panel-pane.green-tint-3 {
  background: #d8e2bf;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ben\/Sites\/tndev\/sites\/all\/themes\/transition2\/sass\/colours\.scss}line{font-family:\00003108}}
.panel-pane.green-tint-4 {
  background: #ecf0e0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ben\/Sites\/tndev\/sites\/all\/themes\/transition2\/sass\/colours\.scss}line{font-family:\00003112}}
.front .panel-pane.turquoise {
  background: #008b98;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ben\/Sites\/tndev\/sites\/all\/themes\/transition2\/sass\/colours\.scss}line{font-family:\00003115}}
.front .panel-pane.turquoise-tint-1 {
  background: #5a9fab;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ben\/Sites\/tndev\/sites\/all\/themes\/transition2\/sass\/colours\.scss}line{font-family:\00003118}}
.front .panel-pane.turquoise-tint-2 {
  background: #8bb5bf;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ben\/Sites\/tndev\/sites\/all\/themes\/transition2\/sass\/colours\.scss}line{font-family:\00003121}}
.front .panel-pane.turquoise-tint-3 {
  background: #b5cdd4;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ben\/Sites\/tndev\/sites\/all\/themes\/transition2\/sass\/colours\.scss}line{font-family:\00003124}}
.front .panel-pane.turquoise-tint-4 {
  background: #dbe6e9;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ben\/Sites\/tndev\/sites\/all\/themes\/transition2\/sass\/colours\.scss}line{font-family:\00003127}}
.front .panel-pane.yellow {
  background: #ffdd60;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ben\/Sites\/tndev\/sites\/all\/themes\/transition2\/sass\/colours\.scss}line{font-family:\00003130}}
.front .panel-pane.yellow-tint-1 {
  background: #ffe386;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ben\/Sites\/tndev\/sites\/all\/themes\/transition2\/sass\/colours\.scss}line{font-family:\00003133}}
.front .panel-pane.yellow-tint-2 {
  background: #ffeaa8;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ben\/Sites\/tndev\/sites\/all\/themes\/transition2\/sass\/colours\.scss}line{font-family:\00003136}}
.front .panel-pane.yellow-tint-3 {
  background: #fff1c7;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ben\/Sites\/tndev\/sites\/all\/themes\/transition2\/sass\/colours\.scss}line{font-family:\00003139}}
.front .panel-pane.yellow-tint-4 {
  background: #fff8e4;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ben\/Sites\/tndev\/sites\/all\/themes\/transition2\/sass\/colours\.scss}line{font-family:\00003142}}
.front .panel-pane.neutral {
  background: #d2cdb5;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ben\/Sites\/tndev\/sites\/all\/themes\/transition2\/sass\/colours\.scss}line{font-family:\00003145}}
.front .panel-pane.neutral-tint-1 {
  background: #dad6c3;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ben\/Sites\/tndev\/sites\/all\/themes\/transition2\/sass\/colours\.scss}line{font-family:\00003148}}
.front .panel-pane.neutral-tint-2 {
  background: #e8e6db;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ben\/Sites\/tndev\/sites\/all\/themes\/transition2\/sass\/colours\.scss}line{font-family:\00003151}}
.front .panel-pane.neutral-tint-3 {
  background: #f0eee7;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ben\/Sites\/tndev\/sites\/all\/themes\/transition2\/sass\/colours\.scss}line{font-family:\00003154}}
.front .panel-pane.neutral-tint-4 {
  background: #f7f6f3;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ben\/Sites\/tndev\/sites\/all\/themes\/transition2\/sass\/colours\.scss}line{font-family:\00003157}}
.front .panel-pane.green {
  background: #98b757;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ben\/Sites\/tndev\/sites\/all\/themes\/transition2\/sass\/colours\.scss}line{font-family:\00003160}}
.front .panel-pane.green-tint-1 {
  background: #afc47a;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ben\/Sites\/tndev\/sites\/all\/themes\/transition2\/sass\/colours\.scss}line{font-family:\00003163}}
.front .panel-pane.green-tint-2 {
  background: #c4d39d;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ben\/Sites\/tndev\/sites\/all\/themes\/transition2\/sass\/colours\.scss}line{font-family:\00003166}}
.front .panel-pane.green-tint-3 {
  background: #d8e2bf;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ben\/Sites\/tndev\/sites\/all\/themes\/transition2\/sass\/colours\.scss}line{font-family:\00003169}}
.front .panel-pane.green-tint-4 {
  background: #ecf0e0;
}
